:root{
    --primary:rgb(241, 201, 171);
    --secondary:red;
}
body{
    background-color:aliceblue;
    box-sizing: border-box;
}
.section1{
    background: linear-gradient(white, var(--primary));
    display: flex;
}
.para{
    font-size: 14px;
}
img{
    height: 250px; width:250px;
    mix-blend-mode: luminosity;
  
    }
    img:hover{
        background: var(--secondary);
        border-radius: 50%;
        transform: scale(1.05);
        transition: all 5s ease 0s;
        transform: translate(200px,100px);
    }
@media screen and (max-width: 480px) {
     .section1{
        flex-direction: column-reverse;
        background: rgb(160, 42, 115);
       }
}

@media (min-width:481px) and (max-width:800px)
{
.section1{
    flex-direction: column-reverse;
    background: yellow;
}
}
    
